.incorrectField {
    -fx-border-color: darkred;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.mainWindow {
    -fx-border-radius: 5px;
    -fx-background-radius: 10px;
}

.bigFont {
    -fx-font-size: 18px;
}

.normalFont {
    -fx-font-size: 14px;
}

.startButton {
    -fx-background-color: transparent;
}

.startButton:hover {
    -fx-background-color: lightgrey;
    -fx-border-color: transparent;
    -fx-background-radius: 20px;
}