.loginButton {
    -fx-background-radius: 3px;
    -fx-color: #474744;
    -fx-background-color: #474744;
    -fx-min-height: 20px;
    -fx-min-widdth: 30px;
    -fx-font: bold 11pt "Arial";
}

.header {
    -fx-background-color: #474744;
    -fx-min-height: 50px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.headerTitle {
    -fx-text-fill: whitesmoke;
    -fx-font-size: 18px;
}

.loginHeader {
    -fx-background-color: #dff0d8;
    -fx-background-radius: 5px;
    -fx-border-color: #cfe0c8;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}